#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul, #navbar ul li {
  float: none;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #444 dotted 1px;
}

/* Showcase */
#showcase {
  height: 100%;
}

/* Home Info */

#home-info {
  height: 550px;
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 30px;
  overflow: hidden;
}

/* Boxes */
.box {
  float: none;
  width: 100%;
}

/* About Info */
#about-info .info-right {
  float: none;
  width: 100%;
  margin-top: 30px;
}

#about-info .info-left {
  float: none;
  width: 100%;
}

.l-heading {
  text-align: center;
}

/* Contact */
#contact-info .box {
  border-bottom: #444 dotted 1px;
}
